<div class="footer-inner">
  <div class="footer-left">
    <p>&copy; {{ now.Year }} {{ site.Title }}. All rights reserved.</p>
  </div>
  <div class="footer-right">
    <a href="{{ "index.xml" | relURL }}">RSS</a>
    {{ with site.Params.social.github }}<a href="https://github.com/{{ . }}" target="_blank" rel="noopener">GitHub</a>{{ end }}
    {{ with site.Params.social.twitter }}<a href="https://twitter.com/{{ . }}" target="_blank" rel="noopener">Twitter</a>{{ end }}
    {{ with site.Params.social.linkedin }}<a href="https://linkedin.com/in/{{ . }}" target="_blank" rel="noopener">LinkedIn</a>{{ end }}
  </div>
</div>
